.week{
  background: #e8e8e8;
  width: 20px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:active{
    background: #777676;
  }
  &:not(:active):hover{
    background: #979897;
  }
}

.weeks{
  display: flex;
}

.timeLine{
  margin-left: 135px;
}

.createVacation{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  font-size: 14px;
}

.days{
  display: flex;
  gap: 20px;
}

.count{
  background: #98c78a;
  padding: 5px;
  border-radius: 3px;
}

.check{
  font-weight: 600;
  color: #4077cc;
}