.week{
  background: #dad8d8;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  &:active{
    background: #777676;
  }
  &:not(:active):hover{
    background: #979897;
  }
}

.weeks{
  display: flex;
}