.week{
  background: #e8e8e8;
  width: 20px;
  height: 39px;
  border: 1px solid white;
  &:active{
    background: #777676;
  }
  &:not(:active):hover{
    background: #979897;
  }
}

.weeks{
  display: flex;
}

.timeLine{
  margin-left: 135px;
}