.days{
  display: flex;
  gap: 5px;
  background: #e1e1e1;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 3px 2px #979897;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}
.date{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user{
  background: #fcd9d9;
  border-radius: 5px;
}

.wrapper{
  display: flex;
  align-items: center;
}

.icon{
  width: 30px;
  height: 30px;
}

.title{
  font-weight: 600;
}